<div *ngIf="provincia">
    <div class="container">
        <div class="row row-cols-1">
            <div class="col text-center mb-3">
                <p class="text-primary"> Tu compra segura </p>
                <h4>APP Precios Justos</h4>
                <hr>   
                <h4 class="mb-2">{{provincia}}</h4>
                
            </div>
    
            <div class="col mb-4">
                <div class="container d-flex align-items-center justify-content-center">
                    <img src="./assets/images/{{provincia_format}}.svg" class="d-block" alt="mapa_provincia" height="360">   
                </div>
            </div>

            <div class="col text-center">
                <div class="container-fluid">
                    <button class="btn btn-primary" [routerLink]="['/precios/listado',provincia]">Ver Listado de productos</button>
                </div>
            </div>
        </div>
    </div>
  
</div>

