<div *ngIf="provincia">
<div class="container container-main">
    <div class="row">
        <div class="col-md">
            <div class="container">
                <div class="row justify-content-start">
                    <p class="d-inline-block text-primary">
                        Tu compra segura
                    </p>
                </div>
                <div class="row">
                    <h5 class="display-4 mb-4">APP Precios Justos</h5>
                    <hr>    
                    <div class="col w-100">
                        <h2>{{provincia}}</h2>
                    </div>
                    <div class="col">
                        <img src="./../../../../../assets/images/Flag_map_of_Argentina.svg" class="d-block w-100" alt="mapa de argentina" height="240">
                    </div>
                    <button class="btn btn-primary" [routerLink]="['/precios/listado',provincia]">Ver Listado</button>
                </div>
            </div>
        </div>
        <div class="col-md">
            <img src="./../../../../../assets/images/{{provincia_format}}.svg" class="d-block w-100" alt="mapa_provincia" height="500">
        </div>
    </div>
</div>
</div>

