<div class="container header">
    <div class="row row-cols-1">
        <div class="col text-center mb-3">
            <p class="text-primary"> Tu compra segura </p>
            <h4>APP Precios Justos</h4>
            <hr>   
            <h4 class="mb-4">Seleccioná tu provincia para comenzar ↗</h4>
        </div>

        <div class="col mb-4">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col">
                        <img src="./assets/images/mapa_argentina.svg" class="d-block w-100" alt="mapa de argentina" height="240">
                    </div>
                    <div class="col d-none d-md-block">
                        <div class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="./assets/images/imagen1.jpg" class="d-block w-100" alt="imagen1">
                                </div>
                                <div class="carousel-item">
                                    <img src="./assets/images/imagen2.jpg" class="d-block w-100" alt="imagen2">
                                </div>
                                <div class="carousel-item">
                                    <img src="./assets/images/imagen3.jpg" class="d-block w-100" alt="imagen3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col text-center">
            <div class="container-fluid">
                <button  class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#info">Mas Información</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="info" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="infoLabel">Precios Justos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-info></app-info>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>