<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item">
                    <h3>¿Qué es Precios Justos?</h3>
                    <p>Una medida que fija los precios de más de 1.800 productos de primera necesidad por 120 días, mediante acuerdos voluntarios con empresas productoras y comercializadoras.</p>
                </li>
                <li class="list-group-item">
                    <h3>¿Dónde los encuentro?</h3>
                    <p>En los supermercados, distribuidores mayoristas y comercios adheridos al programa por provincia o región.</p>
                </li>
                <li class="list-group-item">
                    <h3>¿Para qué sirve la App?</h3>
                    <p>Para escanear el código de barras de cada producto y saber si está alcanzado por la medida. Además, vas a poder reportar inconvenientes.</p>
                </li>
              </ul>
        </div>
    </div>
    <div class="row justify content-center p-4">
        <div class="col">
            <p class="text-center"><b>Hacé click</b> <a href="https://www.argentina.gob.ar/economia/comercio/preciosjustos" target="blank"><b>aquí</b></a><b>para acceder a la información oficial</b></p>
        </div>
    </div>
</div>
